.home_menu{
    width: 100%;
    background-color: #fff;
}
#menu_wrap{
    width: 1160px;
    margin: 0 auto;
}
.menu_a{
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    display: inline-block;
}
.menu_a:hover{
    color: #00b081;
}